<% if kitten.errors.any? %>
  <h3>Errors</h3>
  <div class="errors">
    <ul>
      <% kitten.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul> 
  </div>
<% end %>

<%= form_with model: kitten do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :cuteness %>
    <%= f.select :cuteness, %w[very incredibly astronomically] %>
  </div>                       

  <div class="field">
    <%= f.label :softness%>
    <%= f.select :softness, %w[silky fluffy puffy] %>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
